.place__title {
  font-family: "Inter-Black", "Arial", "Helvetica", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  max-width: 90%;
  margin: 50px auto 0;
}

@media (min-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}
