.page {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 425px;
  color: #ffffff;
}

@media (min-width: 425px) {
  .page {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 768px;
    color: #ffffff;
  }
}

@media (min-width: 768px) {
  .page {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1024px;
    color: #ffffff;
  }
}

@media (min-width: 1024px) {
  .page {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1280px;
    color: #ffffff;
  }
}

@media (min-width: 1280px) {
  .page {
    margin: 0 auto;
    box-sizing: border-box;
    color: #ffffff;
  }
}
