.photo-grid {
  margin-top: 64px;
  display: grid;
  row-gap: 12px;
  grid-auto-rows: auto;
  grid-template-columns: 90%;
  justify-content: center;
  margin-bottom: 64px;
}

@media (min-width: 768px) {
  .photo-grid {
    max-width: 94%;
    display: grid;
    grid-template-columns: repeat(2, min(352px));
    gap: 16px;
    margin: 88px auto 15px;
  }
}
