.place__image {
  max-width: 100%;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .place__image {
    grid-row: span 3;
    margin-top: 49px;
  }
}

@media (min-width: 1024px) {
  .place__image {
    min-width: 100%;
  }
}
