.header__lang {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
  display: flex;
  gap: 18px;
  margin-top: 11px;
}

@media (min-width: 768px) {
  .header__lang {
    font-size: 24px;
    line-height: 28px;
  }
}
