.intro__list {
  list-style: none;
  padding: 0;
  max-width: 90%;
  margin: 32px auto 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

@media (min-width: 768px) {
  .intro__list {
    max-width: 94%;
  }
}

@media (min-width: 1024px) {
  .intro__list {
    margin-left: 48px;
  }
}

@media (min-width: 1280px) {
  .intro__list {
    margin-left: 148px;
  }
}
