.cover__subtitle {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  max-width: 288px;
}

@media (min-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    max-width: 360px;
    margin-top: 32px;
  }
}
