.header {
  max-width: 90%;
  margin: 16px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .header {
    margin-top: 28px;
    max-width: 94%;
  }
}

@media (min-width: 1024px) {
  .header {
    max-width: 90%;
  }
}

@media (min-width: 1280px) {
  .header {
    max-width: 92.7%;
  }
}
