.footer__link {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  margin-left: 16px;
  padding-bottom: 32px;
}

.footer__link:last-child {
  padding: 0;
}

.footer__link:hover {
  opacity: 0.8;
}

@media (min-width: 768px) {
  .footer__link {
    margin-left: 0;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width: 1024px) {
  .footer__link {
    margin-bottom: 0;
  }
}
