.lead__title {
  font-weight: 900;
  line-height: 44px;
  font-size: 40px;
  font-family: "Inter-Black", "Arial", "Helvetica", sans-serif;
  max-width: 90%;
  margin: 46px auto 0;
  text-align: center;
}

@media (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
  }
}

@media (min-width: 1024px) {
  .lead__title {
    max-width: 79%;
  }
}

@media (min-width: 1280px) {
  .lead__title {
    max-width: 70%;
    margin-top: 53px;
  }
}
