.place__paragraph {
  font-family: "Inter-Regular", "Arial", "Helvetica", sans-serif;
  max-width: 90%;
  margin: 29px auto 0;
  line-height: 163%;
}

.place p:last-child {
  margin-top: 24px;
}

@media (min-width: 768px) {
  .place__paragraph {
    max-width: 100%;
    margin: 47px 0 0 0;
  }
  .place p:last-child {
    margin-top: 25px;
  }
}

@media (min-width: 1024px) {
  .place__paragraph {
    max-width: 100%;
    margin: 47px 0 0 0;
    font-size: 18px;
  }
}
