.place__paragraph {
  font-family: "Inter-Regular", "Arial", "Helvetica", sans-serif;
  max-width: 90%;
  margin: 0 auto;
  line-height: 163%;
  margin-top: 26px;
}

@media (min-width: 768px) {
  .place__paragraph {
    max-width: 100%;
    margin: 47px 0 0 0;
  }
  .place p:last-child {
    margin-top: 25px;
  }
}
