.footer__copyright {
  font-size: 14px;
  line-height: 14px;
  padding: 0;
  margin: 48px 0 24px 16px;
}

@media (min-width: 768px) {
  .footer__copyright {
    margin-top: 0;
    line-height: 16px;
  }
}
