.lead__image {
  position: absolute;
  top: 29px;
  left: 5px;
  max-width: 95%;
}

@media (min-width: 768px) {
  .lead__image {
    top: 70px;
    left: 19px;
  }
}

@media (min-width: 1024px) {
  .lead__image {
    top: 85px;
    left: 23px;
  }
}

@media (min-width: 1280px) {
  .lead__image {
    top: 93px;
  }
}
