.intro__text {
  font-size: 16px;
  line-height: 26px;
  max-width: 89%;
  margin: 40px auto 0;
}

@media (min-width: 768px) {
  .intro__text {
    max-width: 94%;
  }
}

@media (min-width: 1024px) {
  .intro__text {
    max-width: 70%;
    margin-left: 47px;
  }
}

@media (min-width: 1280px) {
  .intro__text {
    max-width: 55%;
    margin-left: 150px;
  }
}
