.lead__subtitle {
  padding: 0;
  line-height: 20px;
  text-align: center;
  margin: 16px 16px 0 16px;
}

@media (min-width: 768px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    margin: 32px auto 0;
    max-width: 90%;
  }
}

@media (min-width: 1024px) {
  .lead__subtitle {
    max-width: 75%;
  }
}

@media (min-width: 1280px) {
  .lead__subtitle {
    max-width: 60%;
  }
}
