.cover {
  background-image: url("../../images/__backgroundcover1280.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-width: 100%;
  margin-top: 65px;
}

@media (min-width: 768px) {
  .cover {
    margin-top: 85px;
  }
}

@media (min-width: 1024px) {
  .cover {
    margin-top: 90px;
  }
}

@media (min-width: 1280px) {
  .cover {
    background-size: 93%;
    margin-top: 95px;
  }
}
