.place__link {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  border-bottom: 1px solid #fff;
  text-decoration: none;
  margin-top: 14px;
  display: inline-block;
}
.place__link:hover {
  opacity: 0.8;
}
