.footer__nav {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .footer__nav {
    display: grid;
    grid-template-columns: repeat(auto, auto);
    grid-auto-flow: column;
    gap: 18px;
  }
}
