.cover__title {
  font-size: 32px;
  font-weight: 900;
  line-height: 35px;
  text-align: center;
  max-width: 77%;
  margin: 0;
}

@media (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    max-width: 560px;
  }
}
