.cover__title {
  font-family: "Inter-Black", "Arial", "Helvetica", sans-serif;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 33px;
}

@media (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    padding-top: 115px;
    max-width: 560px;
    margin: 0 auto;
  }
}
