.place {
  padding: 0;
  max-width: 100%;
  margin-top: 50px;
}

@media (min-width: 768px) {
  .place {
    display: grid;
    grid-template-columns: auto min(352px);
    grid-template-rows: repeat(3, auto);
    margin-top: 73px;
    max-width: 94%;
    gap: 28px;
    row-gap: 0px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .place {
    grid-template-columns: min(440px) min(456px);
    margin-top: 75px;
    max-width: 100%;
  }
}

@media (min-width: 1280px) {
  .place {
    grid-template-columns: min(460px) min(484px);
    margin-top: 78px;
  }
}
