.footer {
  margin-top: 66px;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    max-width: 94%;
    margin: 90px auto 0;
  }
}

@media (min-width: 1024px) {
  .footer {
    max-width: 90%;
  }
}

@media (min-width: 1280px) {
  .footer {
    max-width: 92%;
  }
}
