.place__website {
  max-width: 90%;
  margin-top: 33px;
  margin-left: 16px;
}

@media (min-width: 768px) {
  .place__website {
    margin: 0;
    margin-left: 0;
    align-self: end;
  }
}

@media (min-width: 1280px) {
  .place__website {
    margin-top: 1px;
  }
}
