.intro__title {
  max-width: 90%;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  margin: 64px auto 0;
}

@media (min-width: 768px) {
  .intro__title {
    max-width: 93%;
    font-size: 54px;
    line-height: 58px;
    margin-top: 88px;
  }
}

@media (min-width: 1024px) {
  .intro__title {
    max-width: 90%;
    margin-top: 95px;
  }
}

@media (min-width: 1280px) {
  .intro__title {
    margin-top: 93px;
    margin-left: 150px;
  }
}
